.left {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.right {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;

  color: #000;
}

.left,
.right {
  flex: none; /* flex 비율 조정 X (자동 크기 유지) */
}

.footer {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  background-color: #fafafa;
  box-sizing: border-box;
  font-size: var(--h6-size);
  color: var(--second-text-color);
  font-family: var(--h6);
  padding: 30px 0;
  position: fixed;
  bottom: 0;
  left: 0;
}
