@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Merriweather&family=Nanum+Gothic:wght@700&display=swap");

.cards {
  margin-top: 20vh;
  margin-bottom: 40vh;
  position: relative;
}

.headline {
  margin-top: 60vh;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 5vw;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@media screen and (max-width: 767px) {
  .headline {
    /* margin-top: 70vh; */
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 5vw;

    font-family: "Nanum Gothic", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
}
